<!DOCTYPE html>
<html lang="en">
  <%- include('./layout/head.ejs') %>
  <body>
    <%- include('./layout/navbar.ejs') %>
    <div class="container d-flex justify-content-center align-items-center">
      <a href="/" class="btn btn-info me-5 mt-3">Back</a>
      <h1 class="text-center display-3">404 Error. This page doesn't exists</h1>
    </div>
  </body>
</html>
